body{
    background-color: #ffdcb4;
}
li{
    display: inline-block;
}
li a{
    background-color: red;
    text-decoration: none;
}
.contact{
    color:white
}
section{
    background-color: #ecf6ff;
}
.class1{
    background-color: #ffff17;
}
.class2{
    font-family:fantasy;
    font-size: 2em;
    font-style: italic;
}
.class3{
    text-align: center;
}
.class4{
    background-color: yellow;
}
.class5{
    font-size: 30px;
    font-weight: bold;
}
footer{
    background-color: #969696;
}