body{
    background-color: #ffdcb4;
}
li {
    
    display: inline-block;
    width: 60px;
}

.home{
    color: white;
    background-color: #fa130c;
    text-decoration:none;
}

.about{
    color: white;
    background-color: #fa130c;
    text-decoration:none;
}

.contact{
    color: white;
    background-color: #fa130c;
    text-decoration:none;
}

#firstParagraph{
    background-color: #ecf6ff;
}

#secondParagraph{
    background-color: #ecf6ff;
}

#footer{
    background-color: #969697;
    color:white;
}